<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>

<h1>Update your profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render 'form' %>
		<div>
			<%= gravatar_for @user%>
			<a href="http://gravatar.com/emails" target="_blank" rel="noopener">Change</a>
		</div>
	</div>
</div>